<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>La boutique django</title>
  </head>
  <body>
    <a href="{% url 'index' %}">
      <h1>La boutique django </h1>
    </a>
    {% if  user.is_authenticated %}
       welcome {{ user.username }}
       <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
      <a href="{% url 'login' %}">Connexion</a>
      <a href="{% url 'signup' %}">s'inscrire</a>
    {% endif %}
    {% if user.cart %}
    <a style = "color:{% if user.cart.orders.count > 0 %} green {% else %} black {% endif %} ;" href="{% url 'cart' %}">Mon panier({{  user.cart.orders.count }})</a>
    
    {% endif %}



    {% block content %}
    {% endblock %}
  </body>
</html>
